<table>
  <tr>
    <td>주문시간</td>
    <td>음식</td>
    <td>배달예상시간</td>
    <td>배달완료여부</td>
  </tr>
  {% for order in order_list %}
  <tr>
    <td>{{ order.order_date}}</td>
    <td>
      {% for food in order.orderfood_set.all %}
        {{ food.food_name }}
      {% endfor %}
    </td>
    <td>
      {% if order.estimated_time == -1 %}
        <form method="post" action="{% url 'timeinput' %}">
          <input type="number" name="estimated_time" />
          <input type="hidden" name="order_id" value="{{order.id}}" />
          <input type="submit" value="예상시간 입력" />
        </form>
      {% else %}
        {{ order.estimated_time }}분
      {% endif %}
    </td>
    <td>
      {% if order.deliver_finish == 0 %}
        배송중
      {% else %}
        완료
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
